<div role="dialog" class="px-4 py-4">
  <h2 class="font-lexend">Login</h2>

  <mat-form-field appearance="outline" color="primary" class="col-12">
    <mat-label>Username</mat-label>
    <input matInput type="text" placeholder="username" >
  </mat-form-field>
  <mat-form-field appearance="outline" color="primary" class="col-12">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="password" >
  </mat-form-field>

  <button mat-stroked-button color="primary" class="col-12 mb-4" (click)="onLogin()">Login</button>
</div>
